/*------------below CSS adapted from https://css.gg under the MIT License-----------*/
.gg-menu {
  transform: scale(var(--ggs,1))
 }
 
 .gg-menu,
 .gg-menu::after,
 .gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor
 }
 
 .gg-menu::after,
 .gg-menu::before {
  content: "";
  position: absolute;
  top: -6px
 }
 
 .gg-menu::after {
  top: 6px
 } 

 .gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
 }
 
 .gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
 } 
/*------------above CSS adapted from https://css.gg under the MIT License-----------*/

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;

  font-family: "Times New Roman", Times, serif ;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "main1"
  "main2"
  "button"
  "footer";
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr;
}

h1 {
  display: inline;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  display: block;
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  text-decoration: none;
  outline: none;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fef8f1;
  color: #333;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #333;
  color: #fff;
}
